{{!-- Just some plain text --}}

<h1>Inventory</h1>


{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <td>"product_inventory_id"</td>
            <td>"product_id"</td>
            <td>location</td>
            <td>onhand_quanity</td>
             <td>Delete</td>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.product_inventory_id}}</td>
            <td>{{this.product_id}}</td>
            <td>{{this.location}}</td>
            <td>{{this.onhand_quantity}}</td>
            <td><button onclick="deleteInventory({{this.product_inventory_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

</table>
<script src="./js/delete_customer.js"></script>


<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new inventory spot, please enter their information below and click `Submit`!</p>
<form id="add-inventory-form" method="POST" action="/add-inventory-form">

    <label for="input-homeworld">Location: </label>
    <input name="input-homeworld" id="input-homeworld-ajax">

    <label for="input-age">Onhand Quantity: </label>
    <input type="text" name="input-age" id="input-age-ajax">

    <input type="submit">
</form>


<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<!--
<h2>Adding Data with AJAX</h2>
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-person-form-ajax">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">


    <label for="input-homeworld">Homeworld: </label>
    <select name="input-homeworld" id="input-homeworld">
        <option value="">Select a Planet</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form>
-->
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_person.js"></script>


<h2>Search Using an HTML Form</h2>
<p>Search by location using the field below.</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by Location: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Updating A Location</h2>
<p>To update a location select their id from the drop-down menu on the left and enter the new location.</p>
<form id="update-person-form-ajax">

    <label for="input-fullname">Id: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.product_inventory_id}}">{{this.product_inventory_id}}</option>
        {{/each}}
    </select>

    <label for="input-homeworld">Location: </label>
    <select name="input-homeworld" id="input-homeworld-update">
        <option>Select a location</option>
        {{#each data}}
        <option value="{{this.location}}">{{this.location}}</option>
        {{/each}}
    </select>
    <input type="submit" >

</form>

<script src="./js/update_customer.js"></script>
