{{!-- Code adapted and expanded on from the CS340 nodeJS starter code 
    The following link was first accessed on 2/27/2024:

      https://github.com/osu-cs340-ecampus/nodejs-starter-app

For index.hbs, the original code was modified to be functional for a handlebars format with our database's queries and data--}}

{{!-- Just some plain text --}}

<h1>Order Header</h1>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <td>order_header_id</td>
            <td>customer_id</td>
            <td>employee_id</td>
            <td>order_date</td>
            <td>is_return</td>
            <td>is_online_order</td>
             <td>Delete</td>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.order_header_id}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.employee_id}}</td>
            <td>{{this.order_date}}</td>
            <td>{{this.is_return}}</td>
            <td>{{this.is_online_order}}</td>
            <td><button onclick="deleteorder_header({{this.order_header_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

</table>
<script src="./js/delete_customer.js"></script>


<!-- /views/index.hbs -->
<h2>Adding Data using an HTML form</h2>
<p>To add a new order header, please enter their information below and click `Submit`!</p>
<form id="add-person-form" method="POST" action="/add-person-form">

    <label for="input-age">Allocated Quantity: </label>
    <input type="text" name="input-age" id="input-age-ajax">

    <input type="submit">
</form>


<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<!--
<h2>Adding Data with AJAX</h2>
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-person-form-ajax">
    <label for="input-fname">First Name: </label>
    <input type="text" name="input-fname" id="input-fname">
    
    <label for="input-lname">Last Name: </label>
    <input type="text" name="input-lname" id="input-lname">


    <label for="input-homeworld">Homeworld: </label>
    <select name="input-homeworld" id="input-homeworld">
        <option value="">Select a Planet</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-age">Age: </label>
    <input type="number" name="input-age" id="input-age">

    <input type="submit">
</form>
-->
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_person.js"></script>


<h2>Search Using an HTML Form</h2>
<p>Search by Order_header_id using the field below.</p>
<form id="search-person-html" method='GET' action='/'>
    <label for="input-lname">Search by order_header_id: </label>
    <input type="text" name="lname" id="input-lname-html-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<h2>Updating is order online</h2>
<p>To update if it is available online select their id from the drop-down menu on the left and enter the new quanity.</p>
<form id="update-person-form-ajax">

    <label for="input-fullname">ID: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">Select an ID</option>
        {{#each data}}
        <option value="{{this.order_header_id}}">{{this.order_header_id}}</option>
        {{/each}}
    </select>

    <label for="input-homeworld">Is order online: </label>
    <select name="input-homeworld" id="input-homeworld-update">
        <option>Select 1 or 0</option>
        {{#each data}}
        <option value="{{this.is_online_order}}">{{this.is_online_order}}</option>
        {{/each}}
    </select>
    <input type="submit" >

</form>

<script src="./js/update_customer.js"></script>
